@media only screen and (max-width: 600px) {
    .produtos {
        width: 100%;
        display: block;
        overflow: hidden;
        margin-bottom: 20px;
    }
    .produtos_wrap {
        width: 100%;
        overflow-x: scroll;
    }

    .grade {
        width: 100%;
    }

    .grade > .item {
        width: 40%;
    }
}
