.App {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  background-color: #b2b2b2;
}

.previewComponent{
  height: 90vh;
  border:solid 5px red;
  margin:20px;
  background-color: white;
  flex: 1;
}
.listComponent{
  width:300px;
  height: 100vh;
  background-color: bisque;

}

.listComponent ul{
  padding: 10px;
  margin: 0px;
}

.listComponent li{
  background-color:white; 
  padding:5px 10px;
  display: block;
  list-style: none;
  margin-bottom: 10px;
  cursor: move;
}